.col{
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media(max-width: 767.98px) {
   
    .col{
        flex-direction:row;
        flex-wrap: nowrap; 
        justify-content: space-evenly; 
    }

}