@import '../variables';

.row{
    width: 100%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    box-sizing: border-box;
}

@media(max-width: 767.98px) {
   
    .row{
        width: 100%;
        flex-direction:column;
        flex-wrap: nowrap;
        margin-right: 2vh;
        margin-top: 5px;
        align-items: center; 
    }

}