@import '../variables';

.btn-animation-one{
    color: $text-color-secondary;
    background-color: $color-four;
    font-size: $btn-text;
    transition: all 1s ease;
}

.btn-animation-one:hover::before{
    background-color: $color-four;
}

.btn-animation-one:hover{
    background-color: $secondary-color-five;
}


.btn-animation-one:active{
    background-color: $color-four;
}

