@import '../variables';

.btn-animation-two{
    color: $text-color-secondary;
    background-color: $color-three;
    font-size: $btn-text;
    transition: all 1s ease;
}

.btn-animation-two:hover::before{
    background-color: $color-four;
}

.btn-animation-two:hover{
    background-color: $secondary-color-three;
    border: 2px solid  $secondary-color-five;
}


.btn-animation-two:active{
    background-color: $color-four;
}

