@import '../variables';

.btn-success{
    color: $text-color-secondary;
    background-color: $color-success;
    font-size: $btn-text;
}

.btn-success:hover{
    background-color: $color-success-fade;
    transition: all 0.5s ease 0s;
}

.btn-success:active{
    background-color: $color-four;
}