@import '../variables';

.btn-warning{
    color: $text-color-primary;
    background-color: $color-warning;
    font-size: $btn-text;
}

.btn-warning:hover{
    background-color: $color-warning-fade;
    transition: all 0.5s ease 0s;
}

.btn-warning:active{
    background-color: $color-four;
}