@import '../variables';

.btn-danger{
    color: $text-color-secondary;
    background-color: $color-danger;
    font-size: $btn-text;
}

.btn-danger:hover{
    background-color: $color-danger-fade;
    transition: all 0.5s ease 0s;
}

.btn-danger:active{
    background-color: $color-four;
}