header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#290648), color-stop(#3d0568), to(#46316c));
  background-image: linear-gradient(#290648, #3d0568, #46316c);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  color: #ffff;
  padding-left: 15px;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: m;
  overflow: auto;
}

aside {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#290648), color-stop(#3d0568), to(#46316c));
  background-image: linear-gradient(#290648, #3d0568, #46316c);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0vh 2vh 0vh 2vh;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 10vh 90vh;
      grid-template-rows: 10vh 90vh;
      grid-template-areas: "h h" "a m";
}

@media (max-width: 767.98px) {
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 10vh 10vh 80vh;
        grid-template-rows: 10vh 10vh 80vh;
        grid-template-areas: "h h" "a a" "m m";
  }
}

.btn-primary {
  color: #ffff;
  background-color: #d01f4b;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #ff0279;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn-primary:active {
  background-color: #d01f4b;
}

.btn-primary-scale {
  color: #ffff;
  background-color: #46316c;
  font-size: 16px;
}

.btn-primary-scale:hover {
  background-color: #514180;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-primary-scale:active {
  background-color: #d01f4b;
}

.btn-secondary-scale {
  color: #ffff;
  background-color: #ff4f4f;
  font-size: 16px;
}

.btn-secondary-scale:hover {
  background-color: #514180;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-secondary-scale:active {
  background-color: #d01f4b;
}

.btn-secondary {
  color: #ffff;
  background-color: #290648;
  font-size: 16px;
}

.btn-secondary:hover {
  background-color: #ff0279;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn-secondary:active {
  background-color: #d01f4b;
}

.btn-danger {
  color: #ffff;
  background-color: #cf0f0fcc;
  font-size: 16px;
}

.btn-danger:hover {
  background-color: #b40d0d;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn-danger:active {
  background-color: #d01f4b;
}

.btn-success {
  color: #ffff;
  background-color: #089b21e1;
  font-size: 16px;
}

.btn-success:hover {
  background-color: #077e1bfa;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn-success:active {
  background-color: #d01f4b;
}

.btn-warning {
  color: black;
  background-color: #ffc107;
  font-size: 16px;
}

.btn-warning:hover {
  background-color: #ce9e0e;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn-warning:active {
  background-color: #d01f4b;
}

.btn-animation-one {
  color: #ffff;
  background-color: #d01f4b;
  font-size: 16px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-animation-one:hover::before {
  background-color: #d01f4b;
}

.btn-animation-one:hover {
  background-color: #514180;
}

.btn-animation-one:active {
  background-color: #d01f4b;
}

.btn-animation-two {
  color: #ffff;
  background-color: #80076e;
  font-size: 16px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-animation-two:hover::before {
  background-color: #d01f4b;
}

.btn-animation-two:hover {
  background-color: #291548;
  border: 2px solid #514180;
}

.btn-animation-two:active {
  background-color: #d01f4b;
}

.btn {
  min-height: 5vh;
  height: auto;
  width: 100%;
  min-width: 5vh;
  margin: 2vh 2vh 2vh 2vh;
  border: none;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .btn {
    height: 7vh;
  }
}

.input-search, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-primary {
  margin-top: 5vh;
  width: 100%;
  min-height: 300px;
  max-width: 300px;
  background-color: #3d0568;
  border-radius: 5px;
}

.card-primary .card-title {
  border-radius: 10px;
  margin-top: -5px;
  width: 100%;
  height: 8vh;
  background-color: #d01f4b;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffff;
}

.card-primary .card-content {
  padding: 3%;
  color: #ffff;
}

.card-primary .card-content p {
  font-size: 16px;
  font-weight: bold;
}

.container {
  width: 100%;
  display: block;
}

@media (max-width: 767.98px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.col-sm {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

@media (max-width: 767.98px) {
  .col-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (max-width: 767.98px) {
  .col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.row {
  width: 100%;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px;
}

@media (max-width: 767.98px) {
  .row {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 2vh;
    margin-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(173, 170, 170, 0.459);
}
/*# sourceMappingURL=style.css.map */