@import '../variables';

.card-primary{
    box-sizing: border-box;
    margin-top: 5vh;
    width: 100%;
    min-height: 300px;
    max-width: 300px;
    background-color: $color-two;
    border-radius: 5px;
    .card-title{ 
        box-sizing: border-box;
        border-radius: 10px; 
        margin-top: -5px;
        width: 100%;
        height: 8vh;
        background-color: $color-four;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-color-secondary;
    }
    .card-content{
        box-sizing: border-box;
        padding: 3%;
        color: $text-color-secondary;
        p{
            font-size: 16px;
            font-weight: bold;
        }
    }
}

