.col-sm {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .col-sm {
    display: flex;
    align-items: center;
    width: 80%;
  }
}

/*# sourceMappingURL=col-sm.css.map */
